<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.powernode.mybatis.mapper.TLoanOrderMapper" >
  <resultMap id="BaseResultMap" type="com.powernode.mybatis.pojo.TLoanOrder" >
    <id column="loan_id" property="loanId" jdbcType="BIGINT" />
    <result column="app_user_id" property="appUserId" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="mac_audit_result" property="macAuditResult" jdbcType="INTEGER" />
    <result column="loan_order_status" property="loanOrderStatus" jdbcType="INTEGER" />
    <result column="repay_order_status" property="repayOrderStatus" jdbcType="INTEGER" />
    <result column="sure_repay_amounts" property="sureRepayAmounts" jdbcType="DOUBLE" />
    <result column="request_date" property="requestDate" jdbcType="TIMESTAMP" />
    <result column="item_code" property="itemCode" jdbcType="VARCHAR" />
    <result column="product_item_code" property="productItemCode" jdbcType="VARCHAR" />
    <result column="app_user_name" property="appUserName" jdbcType="VARCHAR" />
    <result column="app_user_come" property="appUserCome" jdbcType="VARCHAR" />
    <result column="request_chanel" property="requestChanel" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="app_user_level" property="appUserLevel" jdbcType="INTEGER" />
    <result column="loan_cycle" property="loanCycle" jdbcType="INTEGER" />
    <result column="loan_amount" property="loanAmount" jdbcType="DOUBLE" />
    <result column="loan_type" property="loanType" jdbcType="VARCHAR" />
    <result column="app_package_name" property="appPackageName" jdbcType="VARCHAR" />
    <result column="app_version" property="appVersion" jdbcType="VARCHAR" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="is_show" property="isShow" jdbcType="INTEGER" />
    <result column="real_repay_amounts" property="realRepayAmounts" jdbcType="DOUBLE" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="service_fee" property="serviceFee" jdbcType="DOUBLE" />
    <result column="manage_fee" property="manageFee" jdbcType="DOUBLE" />
    <result column="late_fee" property="lateFee" jdbcType="DOUBLE" />
    <result column="rent_fee" property="rentFee" jdbcType="DOUBLE" />
    <result column="remaining_days" property="remainingDays" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="id_card_no" property="idCardNo" jdbcType="VARCHAR" />
    <result column="account_cardno" property="accountCardno" jdbcType="VARCHAR" />
    <result column="postpone_amount" property="postponeAmount" jdbcType="DOUBLE" />
    <result column="postpone_times" property="postponeTimes" jdbcType="INTEGER" />
    <result column="flat_account_amount" property="flatAccountAmount" jdbcType="DOUBLE" />
    <result column="flat_account_times" property="flatAccountTimes" jdbcType="INTEGER" />
    <result column="postpone_status" property="postponeStatus" jdbcType="INTEGER" />
    <result column="flat_account_status" property="flatAccountStatus" jdbcType="INTEGER" />
    <result column="postpone_days_count" property="postponeDaysCount" jdbcType="INTEGER" />
    <result column="is_new" property="isNew" jdbcType="INTEGER" />
    <result column="is_locking" property="isLocking" jdbcType="INTEGER" />
    <result column="bind_pay_channel" property="bindPayChannel" jdbcType="VARCHAR" />
    <result column="allplatfrom_user_type" property="allplatfromUserType" jdbcType="INTEGER" />
    <result column="machine_audit_warning" property="machineAuditWarning" jdbcType="VARCHAR" />
    <result column="signature_status" property="signatureStatus" jdbcType="INTEGER" />
    <result column="begein_audit_date" property="begeinAuditDate" jdbcType="TIMESTAMP" />
    <result column="push_cash_user_id" property="pushCashUserId" jdbcType="VARCHAR" />
    <result column="push_cash_user_nick" property="pushCashUserNick" jdbcType="VARCHAR" />
    <result column="push_cash_date" property="pushCashDate" jdbcType="TIMESTAMP" />
    <result column="repay_date" property="repayDate" jdbcType="TIMESTAMP" />
    <result column="reject_stage" property="rejectStage" jdbcType="VARCHAR" />
    <result column="reject_reason" property="rejectReason" jdbcType="VARCHAR" />
    <result column="sell_accounts_date" property="sellAccountsDate" jdbcType="TIMESTAMP" />
    <result column="first_audit_user_id" property="firstAuditUserId" jdbcType="VARCHAR" />
    <result column="first_audit_user_nick" property="firstAuditUserNick" jdbcType="VARCHAR" />
    <result column="first_audit_date" property="firstAuditDate" jdbcType="TIMESTAMP" />
    <result column="seccond_audit_user_id" property="seccondAuditUserId" jdbcType="VARCHAR" />
    <result column="seccond_audit_user_nick" property="seccondAuditUserNick" jdbcType="VARCHAR" />
    <result column="seccond_audit_date" property="seccondAuditDate" jdbcType="TIMESTAMP" />
    <result column="last_operate_user_id" property="lastOperateUserId" jdbcType="VARCHAR" />
    <result column="last_operate_user_nick" property="lastOperateUserNick" jdbcType="VARCHAR" />
    <result column="last_operate_date" property="lastOperateDate" jdbcType="TIMESTAMP" />
    <result column="repay_channel" property="repayChannel" jdbcType="VARCHAR" />
    <result column="reject_user_id" property="rejectUserId" jdbcType="VARCHAR" />
    <result column="reject_user_nick" property="rejectUserNick" jdbcType="VARCHAR" />
    <result column="reject_date" property="rejectDate" jdbcType="TIMESTAMP" />
    <result column="sell_accounts_user_id" property="sellAccountsUserId" jdbcType="VARCHAR" />
    <result column="sell_accounts_user_nick" property="sellAccountsUserNick" jdbcType="VARCHAR" />
    <result column="end_operate_date" property="endOperateDate" jdbcType="TIMESTAMP" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="push_tag" property="pushTag" jdbcType="VARCHAR" />
    <result column="decive_id" property="deciveId" jdbcType="VARCHAR" />
    <result column="decive_brand" property="deciveBrand" jdbcType="VARCHAR" />
    <result column="request_net_ip" property="requestNetIp" jdbcType="VARCHAR" />
    <result column="overdue_days" property="overdueDays" jdbcType="INTEGER" />
    <result column="flat_account_day" property="flatAccountDay" jdbcType="INTEGER" />
    <result column="pay_account_code" property="payAccountCode" jdbcType="VARCHAR" />
    <result column="actual_to_account_money" property="actualToAccountMoney" jdbcType="DOUBLE" />
    <result column="user_bank" property="userBank" jdbcType="VARCHAR" />
    <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
    <result column="bank_card_number_type" property="bankCardNumberType" jdbcType="VARCHAR" />
    <result column="product_item_type" property="productItemType" jdbcType="INTEGER" />
    <result column="user_risk_type" property="userRiskType" jdbcType="INTEGER" />
    <result column="periods" property="periods" jdbcType="INTEGER" />
    <result column="repay_periods" property="repayPeriods" jdbcType="INTEGER" />
    <result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
    <result column="normal_sure_repay_amount" property="normalSureRepayAmount" jdbcType="DOUBLE" />
    <result column="source_channel" property="sourceChannel" jdbcType="VARCHAR" />
    <result column="source_channel_details" property="sourceChannelDetails" jdbcType="VARCHAR" />
    <result column="optimization_division" property="optimizationDivision" jdbcType="VARCHAR" />
    <result column="track_channel" property="trackChannel" jdbcType="VARCHAR" />
    <result column="network" property="network" jdbcType="VARCHAR" />
    <result column="original_product_id" property="originalProductId" jdbcType="BIGINT" />
    <result column="transfer_account" property="transferAccount" jdbcType="VARCHAR" />
    <result column="mobile_tag" property="mobileTag" jdbcType="INTEGER" />
    <result column="user_bank_id" property="userBankId" jdbcType="BIGINT" />
    <result column="data_json" property="dataJson" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_loan_order
    where loan_id = #{loanId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.powernode.mybatis.pojo.TLoanOrder" >
    insert into t_loan_order (loan_id, app_user_id, mobile, 
      mac_audit_result, loan_order_status, repay_order_status, 
      sure_repay_amounts, request_date, item_code, 
      product_item_code, app_user_name, app_user_come, 
      request_chanel, sex, app_user_level, 
      loan_cycle, loan_amount, loan_type, 
      app_package_name, app_version, app_name, 
      is_show, real_repay_amounts, product_name, 
      service_fee, manage_fee, late_fee, 
      rent_fee, remaining_days, product_id, 
      id_card_no, account_cardno, postpone_amount, 
      postpone_times, flat_account_amount, flat_account_times, 
      postpone_status, flat_account_status, postpone_days_count, 
      is_new, is_locking, bind_pay_channel, 
      allplatfrom_user_type, machine_audit_warning, 
      signature_status, begein_audit_date, push_cash_user_id, 
      push_cash_user_nick, push_cash_date, repay_date, 
      reject_stage, reject_reason, sell_accounts_date, 
      first_audit_user_id, first_audit_user_nick, first_audit_date, 
      seccond_audit_user_id, seccond_audit_user_nick, 
      seccond_audit_date, last_operate_user_id, 
      last_operate_user_nick, last_operate_date, 
      repay_channel, reject_user_id, reject_user_nick, 
      reject_date, sell_accounts_user_id, sell_accounts_user_nick, 
      end_operate_date, latitude, longitude, 
      push_tag, decive_id, decive_brand, 
      request_net_ip, overdue_days, flat_account_day, 
      pay_account_code, actual_to_account_money, user_bank, 
      bank_code, bank_card_number_type, product_item_type, 
      user_risk_type, periods, repay_periods, 
      merchant_code, normal_sure_repay_amount, source_channel, 
      source_channel_details, optimization_division, 
      track_channel, network, original_product_id, 
      transfer_account, mobile_tag, user_bank_id, 
      data_json)
    values (#{loanId,jdbcType=BIGINT}, #{appUserId,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{macAuditResult,jdbcType=INTEGER}, #{loanOrderStatus,jdbcType=INTEGER}, #{repayOrderStatus,jdbcType=INTEGER}, 
      #{sureRepayAmounts,jdbcType=DOUBLE}, #{requestDate,jdbcType=TIMESTAMP}, #{itemCode,jdbcType=VARCHAR}, 
      #{productItemCode,jdbcType=VARCHAR}, #{appUserName,jdbcType=VARCHAR}, #{appUserCome,jdbcType=VARCHAR}, 
      #{requestChanel,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{appUserLevel,jdbcType=INTEGER}, 
      #{loanCycle,jdbcType=INTEGER}, #{loanAmount,jdbcType=DOUBLE}, #{loanType,jdbcType=VARCHAR}, 
      #{appPackageName,jdbcType=VARCHAR}, #{appVersion,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR}, 
      #{isShow,jdbcType=INTEGER}, #{realRepayAmounts,jdbcType=DOUBLE}, #{productName,jdbcType=VARCHAR}, 
      #{serviceFee,jdbcType=DOUBLE}, #{manageFee,jdbcType=DOUBLE}, #{lateFee,jdbcType=DOUBLE}, 
      #{rentFee,jdbcType=DOUBLE}, #{remainingDays,jdbcType=INTEGER}, #{productId,jdbcType=BIGINT}, 
      #{idCardNo,jdbcType=VARCHAR}, #{accountCardno,jdbcType=VARCHAR}, #{postponeAmount,jdbcType=DOUBLE}, 
      #{postponeTimes,jdbcType=INTEGER}, #{flatAccountAmount,jdbcType=DOUBLE}, #{flatAccountTimes,jdbcType=INTEGER}, 
      #{postponeStatus,jdbcType=INTEGER}, #{flatAccountStatus,jdbcType=INTEGER}, #{postponeDaysCount,jdbcType=INTEGER}, 
      #{isNew,jdbcType=INTEGER}, #{isLocking,jdbcType=INTEGER}, #{bindPayChannel,jdbcType=VARCHAR}, 
      #{allplatfromUserType,jdbcType=INTEGER}, #{machineAuditWarning,jdbcType=VARCHAR}, 
      #{signatureStatus,jdbcType=INTEGER}, #{begeinAuditDate,jdbcType=TIMESTAMP}, #{pushCashUserId,jdbcType=VARCHAR}, 
      #{pushCashUserNick,jdbcType=VARCHAR}, #{pushCashDate,jdbcType=TIMESTAMP}, #{repayDate,jdbcType=TIMESTAMP}, 
      #{rejectStage,jdbcType=VARCHAR}, #{rejectReason,jdbcType=VARCHAR}, #{sellAccountsDate,jdbcType=TIMESTAMP}, 
      #{firstAuditUserId,jdbcType=VARCHAR}, #{firstAuditUserNick,jdbcType=VARCHAR}, #{firstAuditDate,jdbcType=TIMESTAMP}, 
      #{seccondAuditUserId,jdbcType=VARCHAR}, #{seccondAuditUserNick,jdbcType=VARCHAR}, 
      #{seccondAuditDate,jdbcType=TIMESTAMP}, #{lastOperateUserId,jdbcType=VARCHAR}, 
      #{lastOperateUserNick,jdbcType=VARCHAR}, #{lastOperateDate,jdbcType=TIMESTAMP}, 
      #{repayChannel,jdbcType=VARCHAR}, #{rejectUserId,jdbcType=VARCHAR}, #{rejectUserNick,jdbcType=VARCHAR}, 
      #{rejectDate,jdbcType=TIMESTAMP}, #{sellAccountsUserId,jdbcType=VARCHAR}, #{sellAccountsUserNick,jdbcType=VARCHAR}, 
      #{endOperateDate,jdbcType=TIMESTAMP}, #{latitude,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{pushTag,jdbcType=VARCHAR}, #{deciveId,jdbcType=VARCHAR}, #{deciveBrand,jdbcType=VARCHAR}, 
      #{requestNetIp,jdbcType=VARCHAR}, #{overdueDays,jdbcType=INTEGER}, #{flatAccountDay,jdbcType=INTEGER}, 
      #{payAccountCode,jdbcType=VARCHAR}, #{actualToAccountMoney,jdbcType=DOUBLE}, #{userBank,jdbcType=VARCHAR}, 
      #{bankCode,jdbcType=VARCHAR}, #{bankCardNumberType,jdbcType=VARCHAR}, #{productItemType,jdbcType=INTEGER}, 
      #{userRiskType,jdbcType=INTEGER}, #{periods,jdbcType=INTEGER}, #{repayPeriods,jdbcType=INTEGER}, 
      #{merchantCode,jdbcType=VARCHAR}, #{normalSureRepayAmount,jdbcType=DOUBLE}, #{sourceChannel,jdbcType=VARCHAR}, 
      #{sourceChannelDetails,jdbcType=VARCHAR}, #{optimizationDivision,jdbcType=VARCHAR}, 
      #{trackChannel,jdbcType=VARCHAR}, #{network,jdbcType=VARCHAR}, #{originalProductId,jdbcType=BIGINT}, 
      #{transferAccount,jdbcType=VARCHAR}, #{mobileTag,jdbcType=INTEGER}, #{userBankId,jdbcType=BIGINT}, 
      #{dataJson,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.powernode.mybatis.pojo.TLoanOrder" >
    update t_loan_order
    set app_user_id = #{appUserId,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      mac_audit_result = #{macAuditResult,jdbcType=INTEGER},
      loan_order_status = #{loanOrderStatus,jdbcType=INTEGER},
      repay_order_status = #{repayOrderStatus,jdbcType=INTEGER},
      sure_repay_amounts = #{sureRepayAmounts,jdbcType=DOUBLE},
      request_date = #{requestDate,jdbcType=TIMESTAMP},
      item_code = #{itemCode,jdbcType=VARCHAR},
      product_item_code = #{productItemCode,jdbcType=VARCHAR},
      app_user_name = #{appUserName,jdbcType=VARCHAR},
      app_user_come = #{appUserCome,jdbcType=VARCHAR},
      request_chanel = #{requestChanel,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      app_user_level = #{appUserLevel,jdbcType=INTEGER},
      loan_cycle = #{loanCycle,jdbcType=INTEGER},
      loan_amount = #{loanAmount,jdbcType=DOUBLE},
      loan_type = #{loanType,jdbcType=VARCHAR},
      app_package_name = #{appPackageName,jdbcType=VARCHAR},
      app_version = #{appVersion,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      is_show = #{isShow,jdbcType=INTEGER},
      real_repay_amounts = #{realRepayAmounts,jdbcType=DOUBLE},
      product_name = #{productName,jdbcType=VARCHAR},
      service_fee = #{serviceFee,jdbcType=DOUBLE},
      manage_fee = #{manageFee,jdbcType=DOUBLE},
      late_fee = #{lateFee,jdbcType=DOUBLE},
      rent_fee = #{rentFee,jdbcType=DOUBLE},
      remaining_days = #{remainingDays,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=BIGINT},
      id_card_no = #{idCardNo,jdbcType=VARCHAR},
      account_cardno = #{accountCardno,jdbcType=VARCHAR},
      postpone_amount = #{postponeAmount,jdbcType=DOUBLE},
      postpone_times = #{postponeTimes,jdbcType=INTEGER},
      flat_account_amount = #{flatAccountAmount,jdbcType=DOUBLE},
      flat_account_times = #{flatAccountTimes,jdbcType=INTEGER},
      postpone_status = #{postponeStatus,jdbcType=INTEGER},
      flat_account_status = #{flatAccountStatus,jdbcType=INTEGER},
      postpone_days_count = #{postponeDaysCount,jdbcType=INTEGER},
      is_new = #{isNew,jdbcType=INTEGER},
      is_locking = #{isLocking,jdbcType=INTEGER},
      bind_pay_channel = #{bindPayChannel,jdbcType=VARCHAR},
      allplatfrom_user_type = #{allplatfromUserType,jdbcType=INTEGER},
      machine_audit_warning = #{machineAuditWarning,jdbcType=VARCHAR},
      signature_status = #{signatureStatus,jdbcType=INTEGER},
      begein_audit_date = #{begeinAuditDate,jdbcType=TIMESTAMP},
      push_cash_user_id = #{pushCashUserId,jdbcType=VARCHAR},
      push_cash_user_nick = #{pushCashUserNick,jdbcType=VARCHAR},
      push_cash_date = #{pushCashDate,jdbcType=TIMESTAMP},
      repay_date = #{repayDate,jdbcType=TIMESTAMP},
      reject_stage = #{rejectStage,jdbcType=VARCHAR},
      reject_reason = #{rejectReason,jdbcType=VARCHAR},
      sell_accounts_date = #{sellAccountsDate,jdbcType=TIMESTAMP},
      first_audit_user_id = #{firstAuditUserId,jdbcType=VARCHAR},
      first_audit_user_nick = #{firstAuditUserNick,jdbcType=VARCHAR},
      first_audit_date = #{firstAuditDate,jdbcType=TIMESTAMP},
      seccond_audit_user_id = #{seccondAuditUserId,jdbcType=VARCHAR},
      seccond_audit_user_nick = #{seccondAuditUserNick,jdbcType=VARCHAR},
      seccond_audit_date = #{seccondAuditDate,jdbcType=TIMESTAMP},
      last_operate_user_id = #{lastOperateUserId,jdbcType=VARCHAR},
      last_operate_user_nick = #{lastOperateUserNick,jdbcType=VARCHAR},
      last_operate_date = #{lastOperateDate,jdbcType=TIMESTAMP},
      repay_channel = #{repayChannel,jdbcType=VARCHAR},
      reject_user_id = #{rejectUserId,jdbcType=VARCHAR},
      reject_user_nick = #{rejectUserNick,jdbcType=VARCHAR},
      reject_date = #{rejectDate,jdbcType=TIMESTAMP},
      sell_accounts_user_id = #{sellAccountsUserId,jdbcType=VARCHAR},
      sell_accounts_user_nick = #{sellAccountsUserNick,jdbcType=VARCHAR},
      end_operate_date = #{endOperateDate,jdbcType=TIMESTAMP},
      latitude = #{latitude,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      push_tag = #{pushTag,jdbcType=VARCHAR},
      decive_id = #{deciveId,jdbcType=VARCHAR},
      decive_brand = #{deciveBrand,jdbcType=VARCHAR},
      request_net_ip = #{requestNetIp,jdbcType=VARCHAR},
      overdue_days = #{overdueDays,jdbcType=INTEGER},
      flat_account_day = #{flatAccountDay,jdbcType=INTEGER},
      pay_account_code = #{payAccountCode,jdbcType=VARCHAR},
      actual_to_account_money = #{actualToAccountMoney,jdbcType=DOUBLE},
      user_bank = #{userBank,jdbcType=VARCHAR},
      bank_code = #{bankCode,jdbcType=VARCHAR},
      bank_card_number_type = #{bankCardNumberType,jdbcType=VARCHAR},
      product_item_type = #{productItemType,jdbcType=INTEGER},
      user_risk_type = #{userRiskType,jdbcType=INTEGER},
      periods = #{periods,jdbcType=INTEGER},
      repay_periods = #{repayPeriods,jdbcType=INTEGER},
      merchant_code = #{merchantCode,jdbcType=VARCHAR},
      normal_sure_repay_amount = #{normalSureRepayAmount,jdbcType=DOUBLE},
      source_channel = #{sourceChannel,jdbcType=VARCHAR},
      source_channel_details = #{sourceChannelDetails,jdbcType=VARCHAR},
      optimization_division = #{optimizationDivision,jdbcType=VARCHAR},
      track_channel = #{trackChannel,jdbcType=VARCHAR},
      network = #{network,jdbcType=VARCHAR},
      original_product_id = #{originalProductId,jdbcType=BIGINT},
      transfer_account = #{transferAccount,jdbcType=VARCHAR},
      mobile_tag = #{mobileTag,jdbcType=INTEGER},
      user_bank_id = #{userBankId,jdbcType=BIGINT},
      data_json = #{dataJson,jdbcType=LONGVARCHAR}
    where loan_id = #{loanId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select loan_id, app_user_id, mobile, mac_audit_result, loan_order_status, repay_order_status, 
    sure_repay_amounts, request_date, item_code, product_item_code, app_user_name, app_user_come, 
    request_chanel, sex, app_user_level, loan_cycle, loan_amount, loan_type, app_package_name, 
    app_version, app_name, is_show, real_repay_amounts, product_name, service_fee, manage_fee, 
    late_fee, rent_fee, remaining_days, product_id, id_card_no, account_cardno, postpone_amount, 
    postpone_times, flat_account_amount, flat_account_times, postpone_status, flat_account_status, 
    postpone_days_count, is_new, is_locking, bind_pay_channel, allplatfrom_user_type, 
    machine_audit_warning, signature_status, begein_audit_date, push_cash_user_id, push_cash_user_nick, 
    push_cash_date, repay_date, reject_stage, reject_reason, sell_accounts_date, first_audit_user_id, 
    first_audit_user_nick, first_audit_date, seccond_audit_user_id, seccond_audit_user_nick, 
    seccond_audit_date, last_operate_user_id, last_operate_user_nick, last_operate_date, 
    repay_channel, reject_user_id, reject_user_nick, reject_date, sell_accounts_user_id, 
    sell_accounts_user_nick, end_operate_date, latitude, longitude, push_tag, decive_id, 
    decive_brand, request_net_ip, overdue_days, flat_account_day, pay_account_code, actual_to_account_money, 
    user_bank, bank_code, bank_card_number_type, product_item_type, user_risk_type, periods, 
    repay_periods, merchant_code, normal_sure_repay_amount, source_channel, source_channel_details, 
    optimization_division, track_channel, network, original_product_id, transfer_account, 
    mobile_tag, user_bank_id, data_json
    from t_loan_order
    where loan_id = #{loanId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select loan_id, app_user_id, mobile, mac_audit_result, loan_order_status, repay_order_status, 
    sure_repay_amounts, request_date, item_code, product_item_code, app_user_name, app_user_come, 
    request_chanel, sex, app_user_level, loan_cycle, loan_amount, loan_type, app_package_name, 
    app_version, app_name, is_show, real_repay_amounts, product_name, service_fee, manage_fee, 
    late_fee, rent_fee, remaining_days, product_id, id_card_no, account_cardno, postpone_amount, 
    postpone_times, flat_account_amount, flat_account_times, postpone_status, flat_account_status, 
    postpone_days_count, is_new, is_locking, bind_pay_channel, allplatfrom_user_type, 
    machine_audit_warning, signature_status, begein_audit_date, push_cash_user_id, push_cash_user_nick, 
    push_cash_date, repay_date, reject_stage, reject_reason, sell_accounts_date, first_audit_user_id, 
    first_audit_user_nick, first_audit_date, seccond_audit_user_id, seccond_audit_user_nick, 
    seccond_audit_date, last_operate_user_id, last_operate_user_nick, last_operate_date, 
    repay_channel, reject_user_id, reject_user_nick, reject_date, sell_accounts_user_id, 
    sell_accounts_user_nick, end_operate_date, latitude, longitude, push_tag, decive_id, 
    decive_brand, request_net_ip, overdue_days, flat_account_day, pay_account_code, actual_to_account_money, 
    user_bank, bank_code, bank_card_number_type, product_item_type, user_risk_type, periods, 
    repay_periods, merchant_code, normal_sure_repay_amount, source_channel, source_channel_details, 
    optimization_division, track_channel, network, original_product_id, transfer_account, 
    mobile_tag, user_bank_id, data_json
    from t_loan_order
  </select>
</mapper>