<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yz.mis.mapper.TSystemUserMapper" >
  <resultMap id="BaseResultMap" type="com.yz.model.entity.TSystemUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="VARCHAR" />
    <result column="root" property="root" jdbcType="TINYINT" />
    <result column="dept_code" property="deptCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
  </resultMap>

  <!-- 定义公共SQL -->
  <sql id="commonConditions1">
      AND u.status = 1
      AND u.is_delete = 0
      AND p.status = 1
  </sql>

  <select id="searchUserPermissions" parameterType="Long" resultType="String">
    SELECT DISTINCT p.permission_name
    FROM t_system_user u
           JOIN t_system_role r ON JSON_CONTAINS(u.role, CAST(r.id AS CHAR))
           JOIN t_system_permission p ON JSON_CONTAINS(r.permissions, CAST(p.id AS CHAR))
    WHERE u.id = #{systemUserId}
      <include refid="commonConditions1"/>
  </select>

  <select id="searchUserPermissionsMenus" parameterType="Long" resultType="String">
    SELECT DISTINCT p.menu_code
    FROM t_system_user u
           JOIN t_system_role r ON JSON_CONTAINS(u.role, CAST(r.id AS CHAR))
           JOIN t_system_permission p ON JSON_CONTAINS(r.permissions, CAST(p.id AS CHAR))
    WHERE u.id = #{systemUserId}
      <include refid="commonConditions1"/>
  </select>

  <select id="searchUserMenus" parameterType="Long" resultType="String">
    SELECT DISTINCT p.menu_name
    FROM t_system_user u
           JOIN t_system_role r ON JSON_CONTAINS(u.role, CAST(r.id AS CHAR))
           JOIN t_system_permission p ON JSON_CONTAINS(r.permissions, CAST(p.id AS CHAR))
    WHERE u.id = #{systemUserId}
     <include refid="commonConditions1"/>
  </select>

    <select id="selectTSystemUserListByPage" resultType="com.yz.model.vo.mis.SelectUserListVO">
        SELECT
            u.id,
            u.username,
            u.name,
            u.sex,
            u.mobile,
            u.email,
            u.root,
            u.status,
            u.role,
            d.dept_name AS deptName
        FROM t_system_user u LEFT JOIN t_system_dept d ON u.dept_code = d.dept_code
        WHERE 1=1
          AND d.language = #{conditions.language}
        <if test="conditions.status != null">
            AND u.status = #{conditions.status}
        </if>
        <if test="conditions.username != null">
            AND u.username LIKE '%${conditions.username}%'
        </if>
        <if test="conditions.name != null">
            AND u.name LIKE '%${conditions.name}%'
        </if>
        <if test="conditions.mobile != null">
            AND u.mobile = #{conditions.mobile}
        </if>
        <if test="conditions.deptCode != null">
            AND u.dept_code = #{conditions.deptCode}
        </if>
        <if test="conditions.roleCode != null">
            AND JSON_CONTAINS(u.role, '"${conditions.roleCode}"')
        </if>

        ORDER BY u.username
    </select>


</mapper>