<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yz.mis.mapper.TSystemPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.yz.model.entity.TSystemPermission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="action_id" property="actionId" jdbcType="INTEGER" />
    <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
  </resultMap>

  <!-- 定义公共SQL -->
  <sql id="commonConditions1">
      AND p.status = 1
      AND p.is_delete = 0
  </sql>

  <!-- 定义公共SQL -->
  <sql id="commonConditions2">
      AND p.is_delete = 0
  </sql>


  <select id="getPermMaxSort" resultType="Integer">
    SELECT
        max(p.sort) as maxSort
    FROM t_system_permission p
    WHERE 1=1
    AND p.menu_code = #{menuCode}
    <include refid="commonConditions2"/>
  </select>

</mapper>